In [3]:
df=pd.read_csv('dataset.csv')

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import pairwise_distances_argmin_min
import numpy as np

kmeans = KMeans(n_clusters=2, random_state=42)
dbscan = DBSCAN(eps=0.5, min_samples=5)
agg_clustering = AgglomerativeClustering(n_clusters=2)

kmeans_labels = kmeans.fit_predict(df)
dbscan_labels = dbscan.fit_predict(df)
agg_labels = agg_clustering.fit_predict(df)

dbscan_labels = np.where(dbscan_labels == -1, 0, dbscan_labels) 
labels_matrix = np.vstack([kmeans_labels, dbscan_labels, agg_labels]).T

from scipy.stats import mode
ensemble_labels, _ = mode(labels_matrix, axis=1)

df['Ensemble_Cluster'] = ensemble_labels.flatten()

df['Risk'] = df['Ensemble_Cluster'].apply(lambda x: 'Risk' if x == 1 else 'Non-Risk')

X = df.drop(columns=['Ensemble_Cluster', 'Risk'])
y = df['Risk']

NameError: name 'df_scaled' is not defined

In [4]:
kmeans = KMeans(n_clusters=2, random_state=42)
df['Cluster'] = kmeans.fit_predict(df)

c:\Users\venuv\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1446: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

In [5]:
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Cluster
0,0,2.765073,0.669945,0.146876,-0.133644,-0.463177,-0.653504,-0.744759,-1.235859,1.072726,0
1,1,-1.190808,-1.491168,0.146876,-0.133644,-0.463177,1.000937,0.949342,2.247070,1.072726,0
2,2,1.182721,0.669945,-1.383079,-0.133644,-0.463177,-0.653504,-0.416354,-0.738298,0.061674,0
3,3,0.831087,0.669945,0.146876,-2.015948,-0.463177,-0.653504,1.633430,1.749509,0.567200,0
4,4,1.534354,0.669945,0.146876,-2.015948,-0.463177,-0.653504,0.566380,0.256825,-0.949378,0
...,...,...,...,...,...,...,...,...,...,...,...
995,995,-0.399632,-1.491168,-1.383079,-0.133644,-0.463177,-0.653504,-0.543890,-0.738298,0.567200,1
996,996,0.391544,0.669945,1.676831,-0.133644,-0.463177,-0.653504,0.207509,0.754386,-0.949378,1
997,997,0.215727,0.669945,0.146876,-0.133644,-0.463177,-0.653504,-0.874066,-0.738298,1.072726,1
998,998,-1.102900,0.669945,0.146876,-2.015948,-0.463177,-0.653504,-0.505275,1.998289,1.072726,1
999,999,-0.751266,0.669945,0.146876,-0.133644,0.778585,1.000937,0.462226,1.998289,-0.949378,1

Cluster
0    500
1    500
Name: count, dtype: int64